@page
@model WebYoutubeDownload.Pages.DownloadModel
@{
    ViewData["Title"] = "Download";
}

@{
    string ShowDisplayName(string input){
        System.Text.StringBuilder sb = new System.Text.StringBuilder();
        char[] charArr = input.ToCharArray();
        int count = 0;
        foreach (char ch in charArr)
        {
            sb.Append(ch);
            count++;
            if(count == 5)
            {
                sb.Append(" ");
                count = 0;
            }

        }
        return sb.ToString();
    }
}

@{
    <div class="table-responsive-md">
        <table class="table">
            <thead>
                <tr class="bg-primary">
                    <th>Name</th>
                    <th>Type</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var f in Model.Files)
                {
                    <tr>
                        <td class="bg-info">@ShowDisplayName(f.Name) | @f.CreationTime </td>
                        <td class="bg-info">@System.IO.Path.GetExtension(f.Name)</td>
                        <td class="bg-info">
                            <form action="download-file" method="post">
                                <input type="hidden" name="file" value="@f.Name" />
                                <button class="btn btn-primary">Download</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

